---
layout: default
title : Publications
navbar_title: Publications
---

{% assign publications_list = site.publications | sort: "date" | reverse %}

<div class="row">
    <div class="col-12 col-lg-10">
        <div class="my-0 p-0 bg-white shadow-sm rounded-xl">
            {% for item in publications_list %}
                {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
            {% endfor %}
        </div>
    </div>
</div>
